<div class="page-head">
  <div class="container">
    <div class="title">
      <h1>Content types</h1>
    </div>
    <div class="actions">
      <a [routerLink]="['ContentTypeCreate']" class="btn btn-default btn-sm">Create new</a>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Properties</th>
    </tr>
    </thead>
    <tbody>
    <!--
      <tr *ngFor="#item of items">
        <td>
          <a [routerLink]="['ContentTypeShow', {id:item.key} ]">{{ item.key }}</a>
        </td>
        <td>{{ item.name }}</td>
        <td>
          <span class="label label-default" *ngFor="#entry of item.schema.properties | mapToIterable">{{entry.key}}</span>
        </td>
      </tr>
      -->
    </tbody>
  </table>
</div>
